<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eAzolution-20130128123655;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-eAzolution-20130128123655.mdf" providerName="System.Data.SqlClient" />
    
    <!--<add name="ConnectionString"
         connectionString="Data Source=AZOLUTION-LAP5\SQL2008;Initial Catalog=BSRS_V3_0;Persist Security Info=True;User ID=sa;Password=azbd;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />

    <add name="GatewayConnectionString"
       connectionString="Data Source=AZOLUTION-LAP5\SQL2008;Initial Catalog=SMS_Gateway_v1_0;Persist Security Info=True;User ID=sa;Password=azbd;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />
    <add name="WanaSoftConnectionString"
     connectionString="Data Source=AZOLUTION-LAP5\SQL2008;Initial Catalog=RBL_WANA;Persist Security Info=True;User ID=sa;Password=azbd;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
    <!--<add name="GatewayConnectionString"
           connectionString="Data Source=10.32.2.54;Initial Catalog=SMSGateway_v1_0;Persist Security Info=True;User ID=wrleads;Password=4321;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />
    <add name="WanaSoftConnectionString"
      connectionString="Data Source=10.32.2.54;Initial Catalog=WAnaSoft;Persist Security Info=True;User ID=wrleads;Password=4321;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />
   -->
     <!--<add name="ConnectionString"
     connectionString="Data Source=10.32.2.60;Initial Catalog=BSRS_UAT;Persist Security Info=True;User ID=wrleads;Password=4321;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
        <!--<add name="ConnectionString" connectionString="Data Source=AZ03\SQL2012;Initial Catalog=BSRS_2_0;Persist Security Info=True;User ID=sa;Password=azbd;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
    <!--<add name="GatewayConnectionString"
        connectionString="Data Source=10.32.2.60;Initial Catalog=SMSGateway_v1_0;Persist Security Info=True;User ID=sa;Password=Asdf.1234;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />
    <add name="WanaSoftConnectionString"
      connectionString="Data Source=10.32.2.60;Initial Catalog=WAnaSoft;Persist Security Info=True;User ID=sa;Password=Asdf.1234;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />
    <add name="ConnectionString"
     connectionString="Data Source=10.32.2.60;Initial Catalog=BSRS_UAT;Persist Security Info=True;User ID=sa;Password=Asdf.1234;MultipleActiveResultSets=true;Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
