@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<input type="file" id="fileUpload" name="files" aria-busy="true" />

<script>

    $(document).ready(function () {
        kendoManager.Upload('fileUpload', '../FileUploader/UploadFile/');


    });
</script>