#divTrainingScheduleInfo label {
    width: 40%
}
 
#scheduleDetailsView {
    font-size:12px;
}
#scheduleDetailsView ul {
list-style-type: none;
margin: 0;
padding: 0;
}
#scheduleDetailsView li {
margin: 0px 0 0 0;
}
#scheduleDetailsView label{
    font-weight: bold;
    word-spacing: 2px;
    width: 140px;
    
}
#scheduleDetailsView  label {
    text-align: left
}

input:focus{
    border: 2px solid green;
  
    
    
}
input:hover{
    background-color: powderblue;
     border: 3px solid green;
    
}

input[type='radio']:focus{
    border: 3px solid green;
    background-color: green;
    
    
}
textarea:focus {
     border: 2px solid green;
  
}

input[type='checkbox']:focus{
    border: 3px solid green;
    background-color: green;
    
    
}

    