@model GeneralAccount
@{
// ViewBag.Title = "Home Page";
}
<script src="~/js/ops/profile/accountDetails.js" asp-file-version="true"></script>
<div class="row">

    <div class="form-horizontal">
        <h4>Your account info</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label name="Name" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Name" class="k-textbox" />
              
            </div>
        </div>
        <div class="form-group">
            <label name="UserName" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="UserName" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Email" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Email" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="AlternateEmail" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="AlternateEmail" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Facebook" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Facebook" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Gmail" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Gmail" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Yahoo" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Yahoo" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="LinkedIn" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="LinkedIn" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Twitter" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Twitter" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Microsoft" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Microsoft" class="k-textbox" />
                
            </div>
        </div>
        
        <div class="form-group">
            <label name="Skype" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="Skype" class="k-textbox" />
                
            </div>
        </div>
      
        <div class="form-group">
            <label name="About" class="col-md-4 control-label"></label>
            <div class="col-md-6">
                <input name="About" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>