
<script src="~/js/ops/profile/Education.js" asp-file-version="true"></script>
<div class="row">

    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input name="EducationId" type="hidden" id="txt" class="k-textbox" />

       
        <div class="form-group">
            <label for="GeneralAccount" class="col-md-4 control-label">General Account</label>
            <div class="col-md-6">
                <input name="GeneralAccount" id="txtGeneralAccount" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="EducationalLevel" class="col-md-4 control-label">Educational Level</label>
            <div class="col-md-6">
                <input name="EducationalLevel" id="txtEducationalLevel" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="DegreeTitle" class="col-md-4 control-label">Degree Title</label>
            <div class="col-md-6">
                <input name="DegreeTitle" id="txtDegreeTitle" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="EducationalGroup" class="col-md-4 control-label">Educational Group</label>
            <div class="col-md-6">
                <input name="EducationalGroup" id="txtEducationalGroup" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="InstituteName" class="col-md-4 control-label">Institute Name</label>
            <div class="col-md-6">
                <input name="InstituteName" id="txtInstituteName" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="YearofPassing" class="col-md-4 control-label">Year of Passing</label>
            <div class="col-md-6">
                <input name="YearofPassing" id="txtYearofPassing" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="Duration" class="col-md-4 control-label">Duration</label>
            <div class="col-md-6">
                <input name="Duration" id="txtDuration" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label for="Result" class="col-md-4 control-label">Result</label>
            <div class="col-md-6">
                <input name="Result" id="txtResult" class="k-textbox" />
                
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" id="btnEducationSave" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>