
<script src="~/js/ops/profile/Employment.js" asp-file-version="true"></script>
<div class="row">

    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input name="GeneralAccount" type="hidden" id="txtGeneralAccount" class="k-textbox" />


        <div class="form-group">
            <label for="EmploymentId" class="col-md-4 control-label">Employment Id</label>
            <div class="col-md-6">
                <input name="EmploymentId"  id="txtEmploymentId" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyName" class="col-md-4 control-label">Company Name</label>
            <div class="col-md-6">
                <input name="CompanyName" id="txtCompanyName" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyBusiness" class="col-md-4 control-label">Company Business</label>
            <div class="col-md-6">
                <input name="CompanyBusiness" id="txtCompanyBusiness" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyLocation" class="col-md-4 control-label">Company Location</label>
            <div class="col-md-6">
                <input name="CompanyLocation" id="txtCompanyLocation" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Position" class="col-md-4 control-label">Position</label>
            <div class="col-md-6">
                <input name="Position" id="txtPosition" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Department" class="col-md-4 control-label">Department</label>
            <div class="col-md-6">
                <input name="Department" id="txtDepartment" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Responsibilities" class="col-md-4 control-label">Responsibilities</label>
            <div class="col-md-6">
                <input name="Responsibilities" id="txtResponsibilities" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="EmploymentDateFrom" class="col-md-4 control-label">Employment Date From</label>
            <div class="col-md-6">
                <input name="EmploymentDateFrom" id="txtEmploymentDateFrom" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="EmploymentDateTo" class="col-md-4 control-label">Employment Date To</label>
            <div class="col-md-6">
                <input name="EmploymentDateTo" id="txtEmploymentDateTo" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="IsWorking" class="col-md-4 control-label">Is Working</label>
            <div class="col-md-6">
                <input name="IsWorking" id="txtIsWorking" class="k-textbox" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" id="btnEmployment" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>