
<script src="~/js/ops/profile/Employment.js" asp-file-version="true"></script>
<div class="row">

    <div class="form-horizontal">

        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <input name="GeneralAccount" type="hidden" class="k-textbox" />


        <div class="form-group">
            <label for="EmploymentId" class="col-md-4 control-label">Employment Id</label>
            <div class="col-md-6">
                <input name="EmploymentId" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyName" class="col-md-4 control-label">Company Name</label>
            <div class="col-md-6">
                <input name="CompanyName" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyBusiness" class="col-md-4 control-label">Company Business</label>
            <div class="col-md-6">
                <input name="CompanyBusiness" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="CompanyLocation" class="col-md-4 control-label">Company Location</label>
            <div class="col-md-6">
                <input name="CompanyLocation" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Position" class="col-md-4 control-label">Position</label>
            <div class="col-md-6">
                <input name="Position" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Department" class="col-md-4 control-label">Department</label>
            <div class="col-md-6">
                <input name="Department" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Responsibilities" class="col-md-4 control-label">Responsibilities</label>
            <div class="col-md-6">
                <input name="Responsibilities" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="EmploymentDateFrom" class="col-md-4 control-label">Employment Date From</label>
            <div class="col-md-6">
                <input name="EmploymentDateFrom" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="EmploymentDateTo" class="col-md-4 control-label">Employment Date To</label>
            <div class="col-md-6">
                <input name="EmploymentDateTo" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="IsWorking" class="col-md-4 control-label">Is Working</label>
            <div class="col-md-6">
                <input name="IsWorking" class="k-textbox" />

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>