
<script src="~/js/ops/profile/Medical.js" asp-file-version="true"></script>
<div class="row">

    <div class="form-horizontal">
        
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
       
                <input name="MedicalId" type="hidden" class="k-textbox" />

            
        <div class="form-group">
            <label for="DoctorName" class="col-md-4 control-label">Doctor Name</label>
            <div class="col-md-6">
                <input name="DoctorName" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="hospitalOrClinic" class="col-md-4 control-label">Hospital Or Clinic</label>
            <div class="col-md-6">
                <input name="hospitalOrClinic" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="prescriptionOrReport" class="col-md-4 control-label">Prescription Or Report</label>
            <div class="col-md-6">
                <input name="prescriptionOrReport" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="TreatementFrom" class="col-md-4 control-label">Treatement From</label>
            <div class="col-md-6">
                <input name="TreatementFrom" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="TreatementTo" class="col-md-4 control-label">Treatement To</label>
            <div class="col-md-6">
                <input name="TreatementTo" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="TreatementPurpose" class="col-md-4 control-label">Treatement Purpose</label>
            <div class="col-md-6">
                <input name="TreatementPurpose" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label for="Description" class="col-md-4 control-label">Description</label>
            <div class="col-md-6">
                <input name="Description" class="k-textbox" />

            </div>
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>