
<script src="~/js/ops/profile/profiledetails.js" asp-file-version="true"></script>
<div class="row">



    <div class="form-horizontal">
        <h4 >Create a new account.</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>

        <input name="GeneralAccount" type="hidden" class="k-textbox" />
        <input name="PersonalDetailsId" type="hidden" class="k-textbox" />
        <div class="form-group">
            <label name="Name" class="col-md-4 control-label">Name</label>
            <div class="col-md-6">
                <input name="Name" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="FatherName" class="col-md-4 control-label">Father Name</label>
            <div class="col-md-6">
                <input name="FatherName" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="FatherRefId" class="col-md-4 control-label">Father RefId</label>
            <div class="col-md-6">
                <input name="FatherRefId" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="MotherName" class="col-md-4 control-label">Mother Name</label>
            <div class="col-md-6">
                <input name="MotherName" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="MotherRefId" class="col-md-4 control-label">Mother RefId</label>
            <div class="col-md-6">
                <input name="MotherRefId" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="DateOfBirth" class="col-md-4 control-label">Date Of Birth</label>
            <div class="col-md-6">
                <input name="DateOfBirth" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="Gender" class="col-md-4 control-label">Gender</label>
            <div class="col-md-6">
                <input name="Gender" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="MeritalStatus" class="col-md-4 control-label">Merital Status</label>
            <div class="col-md-6">
                <input name="MeritalStatus" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="BloodGroup" class="col-md-4 control-label">Blood Group</label>
            <div class="col-md-6">
                <input name="BloodGroup" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Religious" class="col-md-4 control-label">Religious</label>
            <div class="col-md-6">
                <input name="Religious" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="Nationality" class="col-md-4 control-label">Nationality</label>
            <div class="col-md-6">
                <input name="Nationality" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="NationalId" class="col-md-4 control-label">National Id</label>
            <div class="col-md-6">
                <input name="NationalId" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="BirthCertificate" class="col-md-4 control-label">Birth Certificate</label>
            <div class="col-md-6">
                <input name="BirthCertificate" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <label name="PassportNo" class="col-md-4 control-label">Passport No</label>
            <div class="col-md-6">
                <input name="PassportNo" class="k-textbox" />
                
            </div>
        </div>
      
        <div class="form-group">
            <label name="SocialSecuirityNo" class="col-md-4 control-label">Social Secuirity No</label>
            <div class="col-md-6">
                <input name="SocialSecuirityNo" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group"> 
            <label name="PresentAddress" class="col-md-4 control-label">Present Address</label>
            <div class="col-md-6">
                <input name="PresentAddress" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="PermanentAddress" class="col-md-4 control-label">Permanent Address</label>
            <div class="col-md-6">
                <input name="PermanentAddress" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="CurrentLocation" class="col-md-4 control-label">Current Location</label>
            <div class="col-md-6">
                <input name="CurrentLocation" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="LandPhone" class="col-md-4 control-label">Land Phone</label>
            <div class="col-md-6">
                <input name="LandPhone" class="k-textbox" />

            </div>
        </div>
        <div class="form-group">
            <label name="OfficePhone" class="col-md-4 control-label">Office Phone</label>
            <div class="col-md-6">
                <input name="OfficePhone" class="k-textbox" />

            </div>
        </div>
       
        <div class="form-group">
            <label name="About" class="col-md-4 control-label">About</label>
            <div class="col-md-6">
                <input name="About" class="k-textbox" />
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-4 col-md-6">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </div>
</div>